
body {
  margin: 0;
  padding: 0;
}
.navbar .navbar-nav li {
  font-weight: 700;
  text-transform: uppercase;
}
.menu-area {
  position: static !important;
  
}
.mega-area {
  position: absolute !important;
  width: 100%;
  left: 5;
  right: 5;
  padding: 15px !important;
}
.dropdown-item {
  padding: 5px 0 !important;
  margin-left: 10px !important;
}
h5 {
  letter-spacing: 2px !important;
  font-weight: 900 !important;
}
.icon-text {
  display: flex !important;
  align-items: center !important;
}
.badge {
  background-color: grey;
  color: white;
  border-radius: 5px;
  margin-right: 2px;
}
